form( method="post", id="new_record",  action="/records")
  input(type="hidden", name="lat", id="editRecordLat")
  input(type="hidden", name="lng", id="editRecordLng")
  input(type="submit", class="button", value="Go!" )