doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/lib/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/vendor/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Ruda:400,700', rel='stylesheet', type='text/css')
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6jpZx69h0npqoou_8MRuwudzZzYO_aJ8&sensor=false")
    script(src="/lib/vendor/masonry/jquery.masonry.min.js")
    script(src="/javascripts/application.js")